<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/public/styles/nav.css" type="text/css" />

</head>
<nav class='navbar'>
  <!-- <ul class="menu"> -->
    <!-- <li class="logo"><a href="/">home</a></li> -->
    <!-- <li class="item"><a href="#">Home</a></li> -->
    <!-- <li class="item"><a href="#">About</a></li> -->

  <!-- </ul> -->
  <section class="separation">
    <div>
      <img class='logo' src="/images/Parenthood_ventures_logo (1).png" />
    </div>

    <div class='navbuttons'>
      <form action="/" >
        <button class="buttons" type="submit" value="submit">home</button>
      </form>
      <form action="/about" >
        <button class="buttons" type="submit" value="submit">about</button>
      </form>
      <form action="/directory" >
        <button class="buttons" type="submit" value="submit">the directory</button>
      </form>
      <form action="/joinus" >
        <button class="buttons" type="submit" value="submit">join us</button>
      </form>
      <form action="/meetus" >
        <button class="buttons" type="submit" value="submit">meet us</button>
      </form>
    </div>
  </section>
  </nav>

</html>

