@import url('http://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@media only screen and (min-width: 361px) and (max-width: 1024px) {
.navbar {

  width: 100vw;

  .separation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-height: 50px;

    .logo {
      justify-self: flex-start;
      background-color: white;
      height: auto;
      max-height: 50px;
      width: auto;
      max-width: 100%;
      margin: 10px;
    }
    .navbuttons {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      width: 50%;
      max-height: 50px;
      margin: 10px;
      cursor: pointer;
      align-self: flex-end;

      .navbars{
        display: none;
      }
      li {
        list-style-type: none;

        .buttons {
          font-family: 'Varela Round', sans-serif;
          // font-size: 15px;
          font-size: 3vh;
          background-color: white;
          color: #583493;
          border-style: none;
          margin-top: 10px;
  
          text-decoration: none;
          margin: 0 2vw;
        }
      }

      // form:hover {
      //   border-style: solid;
      //   border: orangered;
      // }
    }



  }


}
}

@media only screen and (min-width: 320px) and (max-width: 360px) {

.navbar {

  width: 100vw;

  .separation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-height: 50px;

    .logo {
      justify-self: flex-start;
      background-color: white;
      height: auto;
      max-height: 50px;
      width: auto;
      max-width: 100%;
      margin: 10px;
    }
    .navbuttons {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      width: 50%;
      max-height: 50px;
      margin: 10px;
      cursor: pointer;

      .navbars{
        display: block;
        padding: 2vw;
        font-size: 3vh;
        border: none;
        cursor: pointer;
      }

      .buttons {
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        background-color: white;
        color: #583493;
        border-style: none;
        margin-top: 10px;
      }
      form:hover {
        border-style: solid;
        border: orangered;
      }
    }
  }
}
}