<!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>


    <link rel="stylesheet" href="/public/styles/about.css" type="text/css" />
    <%- include('partials/nav') %>
  </head>

  <body>

    <h1 class="about">About</h1>
    <section class="abouttext">
      <div>
        <p>
          ‘New Parent Tech’ alone (products from birth to age one) represents a $46bn annual market, with $500m in VC investment in the past 6 years. Emerging successes include GreenLight and Maven Clinic.
        </p>
      </div>
      <div>
        <p>
          There remains tremendous untapped opportunity to serve a new paradigm of parents, who, more than ever in human history are:
        </p>
        <ul>
          <li>Dual career: 78% of couples now both work</li>
          <li>Defying gender roles: 30% of couples split parenting tasks equally; 60% aspire to</li>
          <li>Older: Average first time mom is 27 (~31 in SF and NYC)</li>
          <li>Far from family: 88% live in metro areas</li>
          <li>Diverse: 3.7m children in LGBTQ families; Increasing proportion of interracial couples</li>
          <li>Hands-on: Moms spend 2x hrs per week w/ children vs. 50 years ago; Dads spend 4x</li>
        </ul>
      </div>
      <div>
        <p>And as a result, are:</p>
        <ul>
          <li>Buying their village: investing in paid childcare, backup care, and after hours support</li>
          <li>Reliant on timesaving tools, online discovery, home delivery, subscriptions & connected devices - a platform shift accelerated by COVID</li>
          <li>Seeing their Employers invest in benefits like never before</li>
          <li>82% seek products positioned to moms AND dads </li>
          <li>Increasingly in need for fertility assistance, or growing their families by other means</li>
          <li>Living in Small metro homes; want fewer, but better “things”</li>
          <li>Accustomed to instagram-friendly design and aesthetics</li>
          <li>Switching to brands with strong positioning re: diversity & environment</li>
        </ul>
      </div>
      <div>
        <p>Most ParentTech founders are women, are parents, and live outside of Silicon Valley. They are uniquely underserved by the mainstream startup ecosystem, yet are building the most important solutions of all: products and services for parents and their children.</p>
      </div>
      <div>
        <p>
          Parenthood Ventures is fueling the next wave of innovation, for the new paradigm of parents and their employers, with a remote program curated to the needs of ParentTech founders, and propel them onward to the expanding group of investors in the space.
        </p>
      </div>

    </section>
  </body>
</html>
