
 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>
    <%- include('partials/nav') %>
    <link rel="stylesheet" href="/public/styles/directory.css" type="text/css" />

  </head>

  <body>

    <h1 class="title">The Directory.</h1>

    <div>
      <p class="access">Click —> <a href="https://forms.gle/oCyvUGieds6QBNsXA">here</a> <— to access and (contribute to!) our ParentTech directory</p>
    </div>
  </body>
</html>
