<!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->

    <%- include('partials/nav') %>
    <link rel="stylesheet" href="/public/styles/layout.css" type="text/css" />
  </head>

  <body>

    <h1 class="title">The home of early stage ParentTech.</h1>

    <a href="mailto:charlotte@parenthoodventures.com?subject=Hi%21%20" class="button" target="_blank" data-initialized="true">CONTACT US</a>
  </body>
</html>
