<!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>

    <!-- <link rel="stylesheet" href="/public/stylesheet/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/public/stylesheet/vendor/border-box.css" type="text/css" /> -->

    <%- include ("../partials/nav2.ejs") %>
    <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  </head>

  <body>

    <h1 class="title">The home of early stage ParentTech.</h1>

    <a href="mailto:charlotte@parenthoodventures.com?subject=Hi%21%20" class="button" target="_blank" data-initialized="true">CONTACT US</a>
  </body>
</html>