<!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>


    <link rel="stylesheet" href="/stylesheets/join.css" type="text/css" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <%- include ("../partials/nav2.ejs") %>
  </head>

  <body>

    <h1 class="title">Pay it forward for parents</h1>
    <section class="pic">
        <img  src="/images/alvaro-reyes-ejasgk9i9ig-unsplash.jpg" />
    </section>
    <section class="join">
      <div>
        <p>
          Testing with real-life parents and their families is the best way ParentTech companies can refine their products and services.
        </p>
      </div>
      <div>
        <p>
          Sign up here to help build the next generation of ParentTech:
        </p>
      </div>

    </section>
    <div>
      <a href="" class="button" target="_blank" data-initialized="true">SIGN UP</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
