<!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>


    <link rel="stylesheet" href="/public/styles/join.css" type="text/css" />
    <%- include('partials/nav') %>
  </head>

  <body>

    <h1 class="title">Pay it forward for parents</h1>
    <section class="pic">
        <img  src="/images/alvaro-reyes-ejasgk9i9ig-unsplash.jpg" />
    </section>
    <section class="join">
      <div>
        <p>
          Testing with real-life parents and their families is the best way ParentTech companies can refine their products and services.
        </p>
      </div>
      <div>
        <p>
          Sign up here to help build the next generation of ParentTech:
        </p>
      </div>

    </section>
    <div>
      <a href="" class="button" target="_blank" data-initialized="true">SIGN UP</a>
    </div>
  </body>
</html>
